
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
	font-family: 'Josefin Sans', sans-serif;
}

h1{
	font-size: 2em;
}

.buscaPersonagem{
	width: 100%;
	height: 100vh;
	overflow: hidden;

	background-color: #8A2BE2;
	background-attachment: fixed;
	background-size: cover;
}

.buscaPersonagem > h1{
	position: relative;
    top: 30px;
    left: 20px;

	color: #fff;
}

.buscaPersonagem > form{
	position: relative;
	top: 50px;
	left: 20px;
}

.buscaPersonagem > form > input{
	width: 90%;
}

input[type="text"]{
	border-radius: 5px;
	height: 30px;
}

#resultados{
	position: relative;
	top: 100px;
	left: 20px;

	font-size: 1em;
	color: #fff;
}

#resultados p{
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;	
}

#resultados p:hover{
	cursor: pointer;
	font-size: 2em;
	color:#000;
}

.descricaoPersonagem{
	position: relative;
	top: 150px;
	left: 20px;
}