
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
	font-family: 'Josefin Sans', sans-serif;
}

.buscaPersonagem{
	width: 100%;
	min-height: 500px;
	background-color: #8A2BE2;
	overflow: hidden;
}

.buscaPersonagem > form{
	position: relative;
	top: 50px;
	left: 20px;
}

.buscaPersonagem > form > input{
	width: 90%;
}

input[type="text"]{
	border-radius: 5px;
	height: 30px;
}

#resultados{
	position: relative;
	top: 100px;
	left: 20px;

	font-size: 18px;
	color: #fff;
}